# Core dependencies for the Flask application
Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
gunicorn

# Firebase integration
firebase-admin

# Google Cloud libraries
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos

# TensorFlow and related libraries
tensorflow
tensorboard
tensorboard-data-server

# gRPC dependencies
grpcio
grpcio-status

# Other commonly used packages
requests
SQLAlchemy

# Only include necessary dependencies
