body {
    background-color: #e8e8e8;
    color: #252525;
}

.navbar {
    background-color: #65a8b0;
}

.navbar-brand, .nav-link {
    color: #e8e8e8 !important;
}

.btn-primary {
    background-color: #628e7e;
    border-color: #628e7e;
}

.btn-secondary {
    background-color: #b3d9c0;
    border-color: #b3d9c0;
}

.list-group-item {
    background-color: #9bc6c1;
    color: #252525;
}

.badge-primary {
    background-color: #464646;
    color: #e8e8e8;
}

.btn-outline-primary {
        font-size: 1.5em;
}