{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to the Journal Club</h1>
        <p class="lead">Participate in monthly discussions and voting on research articles.</p>
        <hr class="my-4">
        <p>Join us today to stay updated with the latest research and discussions.</p>
        <a class="btn btn-primary btn-lg" href="{{ url_for('subscribe') }}" role="button">Subscribe Now</a>
    </div>
    <h2 class="my-4">Uploaded Articles</h2>
    <ul class="list-group">
        {% for article in articles %}
            <div>
                <h3>{{ article.title }}</h3>
                <a href="{{ article.file_url }}">Download</a>
                <form action="{{ url_for('vote', article_id=article.id) }}" method="post">
                    <button type="submit">Vote</button>
                 </form>
            </div>
        {% endfor %}
    </ul>
{% endblock %}
