{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Journal Club Articles</h1>
    <ul class="list-group">
        {% for article in articles %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ article['title'] }}
            <div>
                <span class="badge badge-primary badge-pill">{{ article['votes'] }} votes</span>
                <span>{{ article['emoji_votes'] }}</span>
                <a href="{{ url_for('vote', article_id=article['id']) }}" class="btn btn-sm btn-success ml-3">Vote</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
