{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
    <h1 class="my-4">Welcome back to the Journal Club, {{ current_user.username }}!</h1>
    <p>Here you can see all the articles and vote for the ones you'd like to discuss in the next meeting.</p>

    <h2>Articles</h2>
    <ul class="list-group">
        {% for article in articles %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ article.title }}
            <span>
                <span class="badge badge-primary badge-pill">{{ article.votes }} votes</span>
                {% for emoji in article.emoji_votes %}
                    {{ emoji }}
                {% endfor %}
            </span>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <h1>Welcome to the Journal Club</h1>
    <p>Please log in to help plan our next meeting!</p>
{% endif %}
{% endblock %}
